In [20]:
import random

import pandas as pd
from PyQt5.QtCore import QPointF

from TSPClasses import Scenario
from TSPSolver import TSPSolver

In [21]:
data = []

In [22]:
for npoints in range(10, 51, 1):
    seed = 1
    random.seed(seed)
    SCALE = 1.0
    data_range = {"x": [-1.5 * SCALE, 1.5 * SCALE], "y": [-SCALE, SCALE]}
    points = []
    xr = data_range["x"]
    yr = data_range["y"]
    while len(points) < npoints:
        x = random.uniform(0.0, 1.0)
        y = random.uniform(0.0, 1.0)
        xval = xr[0] + (xr[1] - xr[0]) * x
        yval = yr[0] + (yr[1] - yr[0]) * y
        points.append(QPointF(xval, yval))

    diff = "Hard"

    scenario = Scenario(city_locations=points, difficulty=diff, rand_seed=seed)
    solver = TSPSolver(None)
    solver.setupWithScenario(scenario)
    result = solver.branch_and_bound(60)
    data.append({
        "# Cities": npoints,
        "Seed": seed,
        "Running time (sec.)": result["time"],
        "Cost of best tour found (*=optimal)": result["cost"],
        "Max # of stored states at a given time": result["max"],
        "# of BSSF updates": result["count"],
        "Total # of states created": result["total"],
        "Total # of states pruned": result["pruned"]
    })

In [23]:
df = pd.DataFrame(data)

df

,# Cities,Seed,Running time (sec.),Cost of best tour found (*=optimal),Max # of stored states at a given time,# of BSSF updates,Total # of states created,Total # of states pruned
0,10,1,0.069071,8781,28,6,929,734
1,11,1,0.692488,9348,36,1180,13652,7842
2,12,1,0.071879,10085,43,7,1235,1010
3,13,1,0.377292,9937,44,5,5974,5075
4,14,1,1.323232,9635,58,9,20006,17018
5,15,1,0.590728,9211,67,3,8292,7247
6,16,1,5.636322,10431,86,29,78159,67530
7,17,1,12.875627,10938,96,26,166008,146020
8,18,1,60.000219,11023,104,22,734262,651632
9,19,1,60.000420,12209,120,17,696299,623500
10,20,1,60.000077,11179,135,26,662412,595802
11,21,1,60.000734,14092,152,10,634944,574017
12,22,1,60.001340,13228,157,15,598777,546878
13,23,1,60.000459,15613,175,4,577657,529499
14,24,1,60.000398,14993,201,5,546846,504556
15,25,1,60.000864,14040,195,0,515750,481876
16,26,1,60.001637,14172,210,0,497701,465322
17,27,1,60.001087,16338,250,6,502856,461684
18,28,1,60.000825,16496,261,0,480712,446526
19,29,1,60.000988,17698,278,0,458909,430168
20,30,1,60.000930,16337,286,0,448065,419507
21,31,1,60.000295,18283,331,0,434920,407474
22,32,1,60.000047,17531,358,0,415088,392168
23,33,1,60.001597,19299,361,0,410692,386337
24,34,1,60.001211,22309,394,1,402320,377388
25,35,1,60.001763,21995,411,0,382273,362173
26,36,1,60.000710,22099,410,0,376217,356066
27,37,1,60.001746,19290,432,0,357981,341236
28,38,1,60.001799,22148,450,0,349604,333489
29,39,1,60.002115,18986,414,0,326606,314165
30,40,1,60.001697,21045,444,0,320638,308448
31,41,1,60.003840,19981,419,0,307627,296838
32,42,1,60.004127,22225,479,0,305294,294284
33,43,1,60.001490,22151,522,0,299647,288727
34,44,1,60.003837,21476,515,0,283189,273448
35,45,1,60.000000,23842,629,0,284815,274086
36,46,1,60.004082,24344,619,0,280499,270595
37,47,1,60.002950,24739,648,0,278101,267664
38,48,1,60.002458,23349,700,0,269090,259824
39,49,1,60.005009,24387,653,0,260302,252098
40,50,1,60.006205,25505,661,0,259115,250554

In [24]:
df.to_csv(path_or_buf="./data_large.csv", index=False)